mat-card {
    display: flex;
    max-height: 300px;
    padding: 10px;
    gap: 10px;

    mat-card-content {
        flex: 1;
        overflow: hidden;
        min-width: 0;
    }

    mat-card-actions {
        justify-content: center;
    }
}