:host {
    display: block;
    width: 100%;
}

.container {
    display: flex;
    height: 10vh;
    width: auto;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;

    .logo {
        height: 100%;
    }

    nav {
        display: flex;
        height: 100%;
        gap: 10px;
        align-items: center;
        cursor: pointer;

        .logout {
            color: #A40F0F;
        }

        .active {
            color: #7451EB;
            cursor: auto;
        }

        .user {
            height: 50%;
        }
    }
}