<div class="container">

    <img class="logo" src="/logo_p6.png" alt="logo" />

    @if (fullInfos) {
        <ng-template #navContent>
            <p class="logout" routerLink="">Se déconnecter</p>
            <h4 routerLink="../articles" routerLinkActive="active">Articles</h4>
            <h4 routerLink="../themes" routerLinkActive="active">Thèmes</h4>
        </ng-template>

        <nav class="nav-big-screen">
            <ng-container *ngTemplateOutlet="navContent"></ng-container>
            <img class="user" src="/user.svg" alt="user">
        </nav>

        @if (isMenuOpen) {
            <div class="backdrop" (click)="isMenuOpen = false"></div>

            <div class="menu">
                <div class="navigation">
                    <ng-container *ngTemplateOutlet="navContent"></ng-container>
                </div>
                <img class="user" src="/user.svg" alt="user">
            </div>
        } @else {
            <mat-icon class="menu-icon" (click)="isMenuOpen = true">menu</mat-icon>
        }
    }

</div>